{% extends "base.html" %}
{% block title %}{{ category|capitalize }}{% endblock title %}
{% block style %}
  .itemBox {}
  .itemLevel {
    font-weight: bold; 
    background-color: black; 
    color: white; 
    padding: 2px;
  }
  /* resource images */
  .rsrc {
    background-image: url({{ rsrc_spr.url }});
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
  }
  {% for rsrc in rsrc_spr.map %}
    .rsrc-{{ rsrc }} {
      background-position: 0px -{{ loop.index0 * 30}}px;
    }
  {% endfor %}

{% endblock style %}
{% block content %}
  <h1>{{ category|capitalize }}</h1>
  <div class='row'>
    {% for item in items %}
      <div class="col-sm-6 col-lg-4 itemBox">
        <div class="col-xs-4">
          <img class="img-responsive" 
            title="{{ item.name }}" 
            src="{{ item.img }}"/>
        </div>
        <div class="col-xs-8">
          <div>
            <span class="itemLevel">{{ item.level }}</span>
            <span class="itemName">{{ item.name }}</span>
          </div>
          <div class='row'>
            {% for mat in item.mats %}
              <div class="col-xs-4 col-md-3 nopadding">
                <!-- {{mat.qty}} <img src="{{ mat.img }}"/> -->
                {{mat.qty}} <img src='/static/misc/transparent_dot.gif' class='rsrc rsrc-{{ mat.name }}'/>
              </div>
              {% if loop.index0 % 3 == 2 %}
                <div class="clearfix visible-xs-block visible-sm-block"></div>
              {% endif %}
              {% if loop.index0 % 4 == 3 %}
                <div class="clearfix visible-md-block visible-lg-block"></div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="clearfix visible-xs-block"></div>
      {% if loop.index0 % 2 == 1 %}
        <div class="clearfix visible-sm-block visible-md-block"></div>
      {% endif %}
      {% if loop.index0 % 3 == 2 %}
        <div class="clearfix visible-lg-block"></div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}