{% extends "base.html" %}
{% block title %}{{ category|capitalize }}{% endblock title %}
{% block style %}
  .itemBox {
    background-color: #f8f8f8; 
    overflow: auto; /* expands the div's height*/
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    color: black;
  } 
  .itemImg, .itemInfo, .matList {
    background-color: white;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
  }
  .itemImg, .matList {
    overflow: hidden; /* so images dont overflow on the border */
  }
  .imgBox {
    margin: 0px auto;
    padding: 0 5px 0 0;
  }
  .itemLevelBox { /* trick div to allow for chest icons to overlay itemInfo */
    border-radius: 10px;
    overflow: hidden; /* so images dont overflow on the border */s
    display: block;
    float:left;
    padding-right: 10px;
  }
  .itemLevel {
    font-weight: bold; 
    background-color: #5e5e5e;
    color: white; 
    padding: 3px 5px 3px 5px; /* top right bottom left */
  }
  .itemPower {
    float: right;
    margin-left: -30px; /* allow overlap with .itemName to prevent line break */
    font-family: arial;
    color: gold;
    padding-right: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 1px maroon, 1px -1px 1px maroon, -1px -1px 1px maroon, -1px 1px 1px maroon;
  }
  .itemInfo {
    margin-bottom: 5px; 
  }
  /* icons: resources, currencies, skills, chests */
  .icon {
    height: 30px;
    width: 30px;
  }
  {% for icon_list in icons_map %}
    {%- set outer_loop = loop -%}
    {%- for icon in icon_list -%}
      .icon-{{ icon }} {
        background-position: -{{ outer_loop.index0 * 30 }}px -{{ loop.index0 * 30}}px;
      }
    {% endfor -%}
  {% endfor %}
  .icon-resource, .icon-currency, .icon-skill, .icon-chest {
    background-image: url('/static/img/icons.png');
    background-repeat: no-repeat;
  }
  .icon-chest {position: absolute; z-index:10; margin-top: -5px;}
  .precraft {border-radius: 5px;}
  .precraft-normal {box-shadow: 0px 0px 15px lightgray inset;}
  .precraft-good {box-shadow: 0px 0px 15px lime inset;}
  .precraft-great {box-shadow: 0px 0px 15px royalblue  inset;} 
  .precraft-flawless {box-shadow: 0px 0px 15px cyan inset;}
  .precraft-epic {box-shadow: 0px 0px 15px orchid inset;}
  .precraft-legendary {box-shadow: 0px 0px 15px gold inset;}
  .precraft-mythical {box-shadow: 0px 0px 15px red inset;}
  
{% endblock style %}
{% block content %}

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">{{category|capitalize}}</li>
  </ol>
  
  <h1>{{ category|capitalize }}</h1>
  <div class='row itemList'>
    {% for item in items %}
        <div class="col-sm-6 col-lg-4"><div class='itemBox'>
        
            <div class='itemInfo'>
              <div class="itemLevelBox">
                <span class="itemLevel">
                  {% if item.level < 10 %}&nbsp;{% endif %}{{ item.level }}
                </span>
              </div>
              <a href="/item/{{item.slug}}">
                <span class="itemName">{{ item.name }}</span>
              </a>
              {%- if item.source != 'basic' -%}
                &nbsp;
                <!-- display gem chest if source has no matching icon -->
                {%- if item.source in icons_map[7] -%}
                  <img src='/static/img/transparent_dot.gif' 
                    class='icon icon-chest icon-{{item.source}}' 
                    title='Found in {{item.source}}'/>
                {%- else -%}
                  <img src='/static/img/transparent_dot.gif' 
                    class='icon icon-chest icon-gem-chest' 
                    title='Found in {{item.source}}'/>
                {%- endif -%}
              {%- endif -%}
              <span class='itemPower'>{{ item.power }}</span>
            </div> <!-- end itemInfo -->
            
          <div class="col-xs-3 imgBox"> <!-- image on the left side -->
            <a href="/item/{{item.slug}}">
              <img class="img-responsive itemImg" 
                title="{{ item.name }}" 
                src="/static/img/{{item.category}}/{{ item.slug }}.png"/>
            </a>
            <span class='itemPrice'>
              <img src='/static/img/transparent_dot.gif' class='icon icon-currency icon-coin'/>{{ item.price }}
            </span>
          </div> <!-- end image left side -->
          
          <div class="col-xs-9 nopadding"> <!-- data on right side of itemBox -->
            
            
            <div class='matList'> <!-- list of materials -->
            
              <div class='row nopadding nomargin'> <!-- material icons -->
              {% for i in range(8) -%}
                {% if i in [0, 4] %}
                <div class="col-xs-6 nopadding">
                  <div class="row nomargin">
                {% endif %}
                    <div class="col-xs-3 nopadding">
                    {%- if item.mats|length > i -%}
                      {%- if item.mats[i].kind in ['resource', 'artifact'] -%}
                      <img src='/static/img/transparent_dot.gif' class='icon icon-resource icon-{{item.mats[i].slug}}' title='{{item.mats[i].name}}'/>
                      {%- else -%}
                      <a href="/item/{{item.mats[i].slug}}">
                        <img src="/static/img/{{item.mats[i].category}}/{{item.mats[i].slug}}.png" class="icon precraft precraft-{{item.mats[i].quality}}" title='{{item.mats[i].name}} ({{item.mats[i].quality}})'/>
                      </a>
                      {%- endif %}
                    {%- endif -%}
                    </div>
                {% if i in [3, 7] %}
                  </div>
                </div>
                {% endif %}
              {% endfor -%}
              </div> <!-- end material icons -->
              
              <div class='row nopadding nomargin'> <!-- material quantities -->
              {% for i in range(8) -%}
                {% if i in [0, 4] %}
                <div class="col-xs-6 nopadding">
                  <div class="row nomargin">
                {% endif %}
                    <div class="col-xs-3 nopadding">
                    {%- if item.mats|length > i -%}
                      <!-- add spaces before single- and double-digit quantities -->
                      {% if 10 > item.mats[i].qty %}&nbsp;&nbsp;{% endif %}
                      {% if 100 > item.mats[i].qty and item.mats[i].qty >= 10 %}&nbsp;{% endif %}
                      {{ item.mats[i].qty }}
                    {%- endif -%}
                    </div>
                {% if i in [3, 7] %}
                  </div>
                </div>
                {% endif %}
              {% endfor -%}
              </div> <!-- end material quantities -->
            </div> <!-- end matList -->
            
            <div class='matList'> <!-- list of skills -->
            
              <div class='row nopadding nomargin'> <!-- skill icons -->
              {% for i in range(8) -%}
                {% if i in [0, 4] %}
                <div class="col-xs-6 nopadding">
                  <div class="row nomargin">
                {% endif %}
                    <div class="col-xs-3 nopadding">
                    {%- if item.skills|length > i -%}
                      <img src='/static/img/transparent_dot.gif' class='icon icon-skill icon-{{item.skills[i].slug}}' title='{{item.skills[i].name}}'/>
                    {%- endif -%}
                    </div>
                {% if i in [3, 7] %}
                  </div>
                </div>
                {% endif %}
              {% endfor -%}
              </div> <!-- end skill icons -->
              
              <div class='row nopadding nomargin'> <!-- skill quantities -->
              {% for i in range(8) -%}
                {% if i in [0, 4] %}
                <div class="col-xs-6 nopadding">
                  <div class="row nomargin">
                {% endif %}
                    <div class="col-xs-3 nopadding">
                    {%- if item.skills|length > i -%}
                      <!-- add spaces before short quantities -->
                      {% if item.skills[i].qty|length == 1 %}&nbsp;&nbsp;{% endif %}
                      {% if item.skills[i].qty|length == 2 %}&nbsp;{% endif %}
                      {{ item.skills[i].qty }}
                    {%- endif -%}
                    </div>
                {% if i in [3, 7] %}
                  </div>
                </div>
                {% endif %}
              {% endfor -%}
              </div> <!-- end skill quantities -->
              
            </div> <!-- end list of skills -->
            
          </div> <!-- end of right side of itemBox -->
        </div></div>

      <div class="clearfix visible-xs-block"></div>
      {% if loop.index0 % 2 == 1 %}
        <div class="clearfix visible-sm-block visible-md-block"></div>
      {% endif %}
      {% if loop.index0 % 3 == 2 %}
        <div class="clearfix visible-lg-block"></div>
      {% endif %}
    {%- endfor -%}
  </div>
{% endblock content %}