{% extends "base.html" %}
{% block title %}Error{% endblock title %}
{% block style %}
  .randomImg {float:right;}
{% endblock style %}
{% block content %}
  <a href='/items/invisibility-scroll'><img class='randomImg' src='/static/spells/invisibility-scroll.png' title='Invisibility Scroll'/></a>
  <h1>Error {{error_code}}</h1>
  <p>Exception: {{exception}}</p>
  {%- if trace|length > 0 -%}
    <p>
    {%- for line in trace -%}
      {{line}}<br/>
    {%- endfor -%}
    </p>
  {%- endif -%}
  {# TODO: add search bar #}
  {# TODO: list pages with similar URL to the user #}
{% endblock content %}